.czar_centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-25%); 
    transform: translateX(-50%);
    text-align: center;
    /* Needs to be above all layers or QR will be distorted. */
    z-index: 10000;
}

.czar_centered .czar_qr  {
    max-width: 300px;
    height: auto;
}


@media only screen and (orientation: portrait) {
    /* Rules for portrait mode screen. */

    @media (max-width: 700px) {
        /* Rules for portrait mode screen < width 700px. */
        .czar_centered .czar_qr  {
            width: 200px;
        }

        @media (max-width: 500px) {
            /* Rules for portrait mode screen < width 500px. */
            .czar_centered .czar_qr  {
                width: 150px;
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    /* Rules for landscape mode screen. */

    @media (max-height: 500px) {
        /* Rules for landscape mode screen < height 500px. */
        .czar_centered .czar_qr  {
            width: 200px;
        }

        @media (max-height: 400px) {
            /* Rules for landscape mode screen < height 400px. */
            .czar_centered .czar_qr  {
                width: 150px;
            }
        }
    }
}








/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box-inner.open {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
    
  /* Style the back side */
  .flip-box-back {
    transform: rotateY(180deg);
  }
  